.corporate-logo {
  width: 100%;
  display: flex;
  padding: 1vh 2.77rem;
  font-size: 1.5rem;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: var(--COPPER);
  background-color: var(--ALUMINUM-LIGHT);
  border-radius: 0 0 10px 0 ;
  transition: width 0.3s ease;
}

.sidebar-container{
  position: fixed;
  width: 5rem;
}
.sidebar-container.sidebar-full {
  width: 13rem;
}

.sidebar{
  width: 95%;
  background-color: var(--UMBRA);
  border-left: 2px solid var(--ALANWIRE-BLUE-DARK);
  transition: width 0.3s ease;
}

.sidebar.sidebar-full{
  transition: left 0.3s ease;
}

.sidebar a{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-bottom: 1px solid var(--UMBRA);
  color: var(--ALUMINUM-LIGHT);
  background-color: var(--ALANWIRE-BLUE-LIGHT);
  text-decoration: none;
}

.sidebar a:hover{
  font-size: 1.06rem;
  transition: 0.2s ease;
  font-weight:bold;
  color: var(--UMBRA);
  background-color: var(--LIGHT-BLUE);
}


.sidebar-text {
  opacity: 0;
  transition: opacity 0.3s;
}


.chart-item a{
  font-size: 0.75em;
  background-color: var(--ALUMINUM-LIGHT);
  color: var(--UMBRA);
}

.chart-item a:hover{
  background-color: var(--COPPER);
}

.chart-item-added a{
  background-color: var(--NEXT-STEP-GREEN);

}
