.corporate-logo {
  width: 100%;
  display: flex;
  padding: 1vh 2.77rem;
  font-size: 1.5rem;
  justify-content: center;
  font-weight: bold;
  color: var(--COPPER);
  background-color: var(--ALUMINUM-LIGHT);
  border-radius: 0 0 10px 0 ;
  transition: width 0.3s ease;
}

.sidebar-container{
  position: fixed;
  width: 5rem;
}
.sidebar-container.sidebar-full {
  width: 13rem;
}

.sidebar{
  width: 95%;
  background-color: var(--UMBRA);
  border-right: 2px solid var(--ALANWIRE-BLUE-DARK);
  transition: width 0.4s ease;
}

.sidebar.sidebar-full{
  transition: left 0.4s ease;
}

.sidebar a{
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid var(--UMBRA);
  color: var(--ALUMINUM-LIGHT);
  background-color: var(--ALANWIRE-BLUE-LIGHT);
  text-decoration: none;
}

.sidebar a:hover{
  transition: 0.3s ease;
  font-weight:600;
}


.sidebar-text {
  transition: font-size 0.2s;
}


.chart-item a{
  background-color: whitesmoke;
  color: var(--UMBRA);
}

.chart-item a:hover{
  background-color: var(--ALUMINUM-LIGHT);
}

.chart-item-added a{
  color: whitesmoke;
  background-color: var(--ALANWIRE-BLUE-LIGHT);
  filter: brightness(140%);
}
