<div class="container">
  <div class="col col-lg-2">
    <div class="corporate-logo">
      <img src="../../../assets/png/logo.png" height="64px" class="image-fluid">
      <img src="../../../assets/png/company-title.png" height="64px" class="image-fluid">
    </div>
  </div>
  <div class="row vh-100 align-items-center justify-content-center">
    <div class="col-sm8 col-md-6 col-lg-4">
      <div class="text-center">
        <img src="../../../../assets/png/ReelTime01.png" class="image-fluid">
      <div class="bg-white rounded p4 shadow">
        <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
          <div class="m-3">
            <div class="form-group text-center">
              <label for="email" class="form-label">Email</label>
              <input type="email" class="form-control" formControlName="email" id="email" aria-describedby="emailHelp">
            </div>
          </div>
          <div class="m-3">
            <div class="form-group text-center">
              <label for="password" class="form-label">Password</label>
              <input type="password" formControlName="password" class="form-control" id="password" aria-describedby="passwordHelp">
            </div>
          </div>
          <div class="col text-center">
            <button type="submit" class="btn btn-outline-primary m3">Login</button>
          </div>
          @if(isError){
            <p class="text-danger" role="alert">
              Login Credentials Failed. Please try again.
            </p>
          }
        </form>
      </div>
      </div>
      <div class="text-center">
        <img src="../../../../assets/png/blueSpool.png" style="width: 100px;">
      </div>
    </div>
  </div>
</div>
