<div class="container">
  <div class="col col-lg-2">
    <div class="corporate-logo">
      <img src="../../../assets/png/logo.png" height="64px" class="image-fluid">
      <img src="../../../assets/png/company-title.png" height="64px" class="image-fluid">
    </div>
  </div>
  <div class="row vh-100 align-items-center justify-content-center">
    <div class="col-sm8 col-md-6 col-lg-3">
      <div class="text-center">
        <img src="../../../../assets/png/ReelTime01.png" class="image-fluid">
      </div>
      <div class="bg-white rounded p4 shadow">
        <form m-3>
          <div class="m-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
            <div id="emailHelp" class="form-text">We'll never share your email.</div>
          </div>
          <div class="m-3">
            <label for="username" class="form-label">Username</label>
            <input type="username" class="form-control" id="username" aria-describedby="usernameHelp" placeholder="Enter username">
            <div id="usernameHelp" class="form-text">Hint: Username starts with first inital of your first name.</div>
          </div>
          <div class="m-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" aria-describedby="passwordHelp" placeholder="Enter password">
          </div>
          <div class="col text-center">
            <button type="submit" class="btn btn-outline-primary m3">Login</button>
          </div>
          <p class="text-center m3">Don't have an account? <a routerLink="/register" class="text-decoration-none">Register</a></p>
        </form>
      </div>
      <div class="text-center">
        <img src="../../../../assets/png/blueSpool.png" style="width: 100px;">
      </div>
    </div>
  </div>


</div>
