<div class="container">
  <div class="row">
    <div>
      <div class="card">
        <img src="https://via.placeholder.com/150" class="card-img-top" alt="Placeholder Image">
        <div class="card-body">
          <h5 class="card-title">Chart Title</h5>
          <p class="card-text">Information here to populate procedurally</p>
          <a href="#" class="btn btn-primary">Read More</a>
        </div>
      </div>
    </div>

    <!-- You can add more card elements here -->

  </div>
</div>
