.card{
  box-shadow: 0px 0px 100px 1px var(--ALUMINUM-LIGHT);
  border-radius: 10px;
  border: none;
  z-index: -1;
  aspect-ratio: 1 / 1;
  max-width: max-content;
}

.fullIcon{
  position: absolute;
  top: 0;
  right: 0;
}

.removeIcon{
  position: absolute;
  top: 0;
  right: 0;
}

h5{
  align-self: center;
  margin: .5rem;
  display: flex;
}

.canvas-container{
  align-self:auto;
  position: relative;
  margin: auto;
  height: 75vh;
}

.card-body{
  display: flex;
  padding: .5rem;
}

.graph-label{
  display: inline-block;
  align-self: center;
}

.y-axis{
  /* Makes text vertical */
  writing-mode: vertical-lr;
}
