@if (isFullscreen()) {
  <!-- Full Screen -->
    <div class="card" (click)="makeFullscreen()">
      <div class="card-body">
        <h5 class="card-title">{{chartFromParent.chart_title}}</h5>
        <div class="canvas-fullscreen">
          <canvas id="ctx" aspect-ratio="" width="200px" height="200px"></canvas>
        </div>
      </div>
      <!-- <button class="btn btn-primary" (click)="makeFullscreen()">Fullscreen</button>
      <button type="button" class="btn btn-danger" (click)="removeChart(chartFromParent)">Remove</button> -->
    </div>
} @else {
  <!--  Dashboard -->
    <div class="card" (click)="makeFullscreen()">
      <div class="card-body">
      <h5 class="card-title">{{chartFromParent.chart_title}}</h5>
        <div class="canvas-dash">
          <canvas id="ctx{{cardIndex}}" aspect-ratio="" width="200px" height="200px"></canvas>
        </div>
      </div>
      <!-- <button class="btn btn-primary" (click)="makeFullscreen()">Fullscreen</button>
      <button type="button" class="btn btn-danger" (click)="removeChart(chartFromParent)">Remove</button> -->
      <!-- You can add more card elements here -->
    </div>
  }
