.chart-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.grid-columns{
  margin-top: 3rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );

}
