<app-sidebar/>
<app-navigation/>
<!-- <div class="container">
  <div class="col col-lg-2">
    <div class="corporate-logo">
      <img src="../../../assets/png/logo.png" height="64px" class="image-fluid">
      <img src="../../../assets/png/company-title.png" height="64px" class="image-fluid">
    </div>
  </div>
  <div class="row vh-100 align-items-center justify-content-center">
    <div class="col-sm8 col-md-6 col-lg-3">
      <div class="text-center">
        <img src="../../../../assets/png/ReelTime01.png" class="image-fluid">
      </div>
      <div class="bg-white rounded p4 shadow">
        <form [formGroup]="signupForm" (ngSubmit)="onSignup()">
          <div class="m-3">
            <div class="form-group text-center">
              <label for="username" class="form-label">Username</label>
              <input type="username" class="form-control" formControlName="username" id="username" aria-describedby="usernameHelp">
            </div>
          </div>
          <div class="m-3">
            <div class="form-group text-center">
              <label for="email" class="form-label">Email</label>
              <input type="email" class="form-control" formControlName="email" id="email" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email.</div>
            </div>
          </div>
          <div class="m-3">
            <div class="form-group text-center">
              <label for="password" class="form-label">Password</label>
              <input type="password" formControlName="password" class="form-control" id="password" aria-describedby="passwordHelp">
            </div>
          </div>
          <div class="col text-center">
            <button type="submit" class="btn btn-outline-primary m3">Signup</button>
          </div>
          @if(isError){
            <div class="alert alert-danger" role="alert">
              Signup Failed. Please try again.
            </div>
          }
          <p class="text-center m3">Already have an accout? <a routerLink="/login" routerLinkActive="active" class="text-decoration-none">Login</a></p>
        </form>
      </div>
      <div class="text-center">
        <img src="../../../../assets/png/blueSpool.png" style="width: 100px;">
      </div>
    </div>
  </div>
</div> -->


<div class="container text-center">
  <div class="row justify-content-center">
    <div class="col-4">
      <div class="bg-white rounded p4 shadow text-primary">
        <form [formGroup]="signupForm" (ngSubmit)="onSignup()">
        <label style="margin: 10px;">Add an Employee</label>
        <div class="form-group" style="display: flex; align-items: center;">
          <label for="username" class="form-label" style="display: inline-block; width: 100px;">Username:</label>
          <input type="username" class="form-control" formControlName="username" id="username" aria-describedby="usernameHelp" style="display: inline-block; width: calc(100% - 50px); margin-bottom: 10px; margin-right: 6%;">
        </div>
        <div class="form-group" style="display: flex; align-items: center;">
          <label for="email" class="form-label" style="display: inline-block; width: 100px;">Email:</label>
          <input type="email" class="form-control" formControlName="email" id="email" aria-describedby="emailHelp" style="display: inline-block; width: calc(100% - 50px); margin-bottom: 10px; margin-right: 6%;">
        </div>
        <div class="form-group" style="display: flex; align-items: center;">
          <label for="password" class="form-label" style="display: inline-block; width: 100px;"> Temporary Password:</label>
          <input type="text" class="form-control" formControlName="password" id="password" aria-describedby="passwordHelp" style="display: inline-block; width: calc(100% - 50px); margin-bottom: 10px; margin-right: 6%;">
        </div>
        <div class="form-group" style="display: flex; align-items: center;">
          <label for="employee_number" class="form-label" style="display: inline-block; width: 100px;"> Employee Number:</label>
          <input type="text" class="form-control" formControlName="employee_number" id="employee_number" aria-describedby="employee_numberHelp" style="display: inline-block; width: calc(100% - 50px); margin-bottom: 10px; margin-right: 6%;">
        </div>
        <div class="form-group" style="display: flex; align-items: center;">
          <label for="first_name" class="form-label" style="display: inline-block; width: 100px;"> First Name:</label>
          <input type="text" class="form-control" formControlName="first_name" id="first_name" aria-describedby="first_nameHelp" style="display: inline-block; width: calc(100% - 50px); margin-bottom: 10px; margin-right: 6%;">
        </div>
        <div class="form-group" style="display: flex; align-items: center;">
          <label for="last_name" class="form-label" style="display: inline-block; width: 100px;"> Last Name:</label>
          <input type="text" class="form-control" formControlName="last_name" id="last_name" aria-describedby="last_nameHelp" style="display: inline-block; width: calc(100% - 50px); margin-bottom: 10px; margin-right: 6%;">
        </div>
        <div class="form-group" style="display: flex; align-items: center;">
          <label for="is_admin" class="form-label" style="display: inline-block; width: 100px;"> Is Admin?</label>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="is_admin"  formControlName="is_admin" id="inlineCheckbox1" aria-describedby="is_adminHelp" value="true">
            <label class="form-check-label" for="inlineCheckbox1"> True</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="is_admin"  formControlName="is_admin" id="inlineCheckbox1" checked aria-describedby="is_adminHelp" value="false">
            <label class="form-check-label" for="inlineCheckbox1">False</label>
          </div>
        </div>
        <div class="col text-center">
          <button type="submit" class="btn btn-outline-primary m3"  style="margin-bottom: 10px;">Add</button>
        </div>
        @if(isError){
          <p class="text-danger">
            Signup Failed. Please try again.
          </p>
        }

      </form>


      <form [formGroup]="findEmployeeForm" (ngSubmit)="onFind(name)">
        <label style="margin-bottom: 10px;">Or</label>
        <br>
        <label style="margin-bottom: 10px;">Select an Employee</label>
        <div class="form-group" style="display: flex; align-items: center;">
          <label for="name" class="form-label" style="display: inline-block; width: 100px;">Employee Name:</label>
          <input type="name" class="form-control" formControlName="name" id="name" aria-describedby="nameHelp" style="display: inline-block; width: calc(100% - 50px); margin-bottom: 10px; margin-right: 6%;">
        </div>
        <div class="col text-center">
          <button type="submit" class="btn btn-outline-primary m3" style="margin-bottom: 10px;" >Find</button>
        </div>
      </form>
    </div>
    </div>
    <div class="col-4">
      <div class="bg-white rounded p4 shadow text-primary">
        <form [formGroup]="updateProfileForm" (ngSubmit)="onUpdateProfile()">
          <label style="margin: 10px;">Modify Employee Profile</label>
          <div class="form-group" style="display: flex; align-items: center;">
            <label for="employee_number" class="form-label" style="display: inline-block; width: 100px;"> Employee Number:</label>
            <input type="text" class="form-control" formControlName="employee_number" id="employee_number" aria-describedby="employee_numberHelp" style="display: inline-block; width: calc(100% - 50px); margin-bottom: 10px; margin-right: 6%;">
          </div>
          <div class="form-group" style="display: flex; align-items: center;">
            <label for="first_name" class="form-label" style="display: inline-block; width: 100px;"> First Name:</label>
            <input type="text" class="form-control" formControlName="first_name" id="first_name" aria-describedby="first_nameHelp" style="display: inline-block; width: calc(100% - 50px); margin-bottom: 10px; margin-right: 6%;">
          </div>
          <div class="form-group" style="display: flex; align-items: center;">
            <label for="last_name" class="form-label" style="display: inline-block; width: 100px;"> Last Name:</label>
            <input type="text" class="form-control" formControlName="last_name" id="last_name" aria-describedby="last_nameHelp" style="display: inline-block; width: calc(100% - 50px); margin-bottom: 10px; margin-right: 6%;">
          </div>
          <div class="form-group" style="display: flex; align-items: center;">
            <label for="is_admin" class="form-label" style="display: inline-block; width: 100px;"> Is Admin?</label>
            <div class="form-check form-check-inline">

              <input class="form-check-input" type="radio" name="is_admin" formControlName="is_admin" id="inlineCheckbox1" aria-describedby="is_adminHelp" value="true">
              <label class="form-check-label" for="inlineCheckbox1"> True</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="is_admin"  formControlName="is_admin" id="inlineCheckbox1" aria-describedby="is_adminHelp" value="false">
              <label class="form-check-label" for="inlineCheckbox1">False</label>
            </div>

          </div>
          <div class="dropdown-center">
            <button class="btn btn-primary dropdown-toggle" type="button" style="margin: 2%;" data-bs-toggle="dropdown" aria-expanded="false">
              Add Position
            </button>
            <ul class="dropdown-menu dropdown-menu-dark">
              <!-- <li>@for(position of positions; track position.id){
              <a class="dropdown-item"> {{position.position_title}}</a>
              }</li> -->
              <li>
                @for(position of positions; track position.id){
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="positions"   aria-describedby="positionHelp"> <!--formControlName="positions" -->
                  <label class="form-check-label" for="positions">{{position.position_title}}</label>
                </div>}
              </li>

            </ul>
            <button class="btn btn-primary dropdown-toggle" type="button" style="margin: 2%;" data-bs-toggle="dropdown" aria-expanded="false">
              Add Department
            </button>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Action two</a></li>
              <li><a class="dropdown-item" href="#">Action three</a></li>
            </ul>
          </div>
          <div class="col text-center">
            <button type="submit" class="btn btn-outline-primary m3" style="margin: 2%;" >Update Profile</button>
            <button type="submit" class="btn btn-outline-primary m3" style="margin: 2%;" >Delete Profile</button>
          </div>
        </form>

      </div>

    </div>
  </div>
</div>
