

.navbar{
  display:flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  //width: 100%;
}

.corporate-logo {
  display: flex;
  padding: 1vh 3vh;
  font-size: 1.5rem;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: var(--COPPER);
  background-color: var(--ALUMINUM-LIGHT);
  border-radius: 0 0 10px 0 ;
  width: 1rem;
  transition: width 0.3s ease;
}

.corporate-logo.active {
  width: 11rem;
  transition: width 0.3s ease;
}

.navbar .nav-links a {
  color: #15446e;
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: background-color 0.1 ease-in-out;
  border-radius: 4px;
  border: 1px solid #15446e;
  background-color: #0A090C;
}

.navbar .nav-links a:hover,
.navbar .nav-links a.active{
  color: #2B2B2B;
  background-color: #53DD6C;
  border-radius: 4px;
  transition: 0.3s ease;
}

.nav-links{
  display: flex;
  align-items: center;
  gap: 1rem;
}
.menu-container{
  transition: width 0.3s ease;
  width: 2rem;
}
/* .menu-container.active{
  width: 275px;
} */
.menu{
  cursor: pointer;
  background: none;
  border: none;
  font-size: 2rem;
  color: var(--ALUMINUM-LIGHT);
  background-color: var(--UMBRA);
  border-radius: 5px;
  margin-left: 1vh;
  padding: 1px 6px;
}

.sidebar{
  position: fixed;
  width: 5rem;
  height: 100%;
  background-color: var(--UMBRA);
  border-left: 2px solid var(--ALANWIRE-BLUE-DARK);
  transition: width 0.3s ease;
}

.sidebar.active{
  width: 15rem;
  transition: width 0.3s ease;
}

.sidebar a{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-bottom: 1px solid var(--UMBRA);
  color: var(--ALUMINUM-LIGHT);
  background-color: var(--ALANWIRE-BLUE-LIGHT);
  text-decoration: none;
}

.sidebar a:hover{
  font-size: 1.06rem;
  transition: 0.2s ease;
  font-weight:bold;
  color: var(--UMBRA);
  background-color: var(--LIGHT-BLUE);
}

.sidebar-text {
  opacity: 0;
  transition: opacity 0.3s;
}

.profile-pic {
  border-radius: 50px;
}

.top-right {
  padding-right: 1rem;
}

.top-right a,
.top-right button.pfp {
  border-radius: 50px;
  margin: 1rem;
}

.chart-item a{
  font-size: 0.75em;
  background-color: var(--ALUMINUM-LIGHT);
  color: var(--UMBRA);
}

.chart-item a:hover{
  background-color: var(--COPPER);
}

.chart-item-added a{
  background-color: var(--NEXT-STEP-GREEN);

}
