<nav class="navcontainer" [class.active]="isSideBarVisible()">
    <div class="nav-links">
      <div class="menu-container" [class.active]="isSideBarVisible()">
        <!-- @if(isSideBarVisible()){
        <button class="menu" (click)="toggleSidebar()">⊲</button>
        }
        @if(!isSideBarVisible()){
        <button class="menu" (click)="toggleSidebar()">⊳</button>
        } -->
        @if(isSideBarVisible()){
        <img src="../../../../assets/svg/keyboard_double_arrow_left.svg" class="menu" (click)="toggleSidebar()"/>
        }
        @if(!isSideBarVisible()){
        <img src="../../../../assets/svg/keyboard_double_arrow_right.svg"  class="menu" (click)="toggleSidebar()"/>
        }
      <!-- <img src="../../../../assets/svg/compare_arrows.svg"  class="menu" (click)="toggleSidebar()"/> -->
      </div>
    </div>
  <div class="top-right">

      <a class="search">
        <img src="../../../assets/svg/search.svg" alt="search">
      </a>

      <a class="notification-bell">
        <img src="../../../assets/svg/notifications.svg" alt="notification">
      </a>
      <button type="button" class="btn btn-outline-light thick-line" (click)="onLogout()">Logout</button>
      <button class="pfp" routerLink="profile">
        <img class="profile-pic" src="../../../assets/pfp/download.jpg" alt="pfp" width="50px">
      </button>
      <app-metal-price/>

  </div>

</nav>
