<nav class="navcontainer" [class.active]="isSideBarVisible()">
    <div class="nav-links">
      <div class="menu-container" [class.active]="isSideBarVisible()">
        @if(isSideBarVisible()){
        <button class="menu" (click)="toggleSidebar()">⊲</button>
        }
        @if(!isSideBarVisible()){
        <button class="menu" (click)="toggleSidebar()">⊳</button>
        }
      </div>
    </div>
  <div class="top-right">


      <a class="search">
        <img src="../../../assets/svg/search.svg" alt="search">
      </a>

      <a class="notification-bell">
        <img src="../../../assets/svg/notification-bell.svg" alt="notification">
      </a>
      <button type="button" class="btn btn-outline-light thick-line" (click)="onLogout()" >Logout</button>
      <button class="pfp" routerLink="profile">
        <img class="profile-pic" src="../../../assets/pfp/download.jpg" alt="pfp" width="50px">
      </button>

  </div>

</nav>
