.navcontainer{
  display:flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  margin: 0 0 0 5rem;
  //width: 100%;
}

.navcontainer.active{
  margin: 0 0 0 13rem
}

.navbarcontainer .nav-links a {
  color: #15446e;
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: background-color 0.1 ease-in-out;
  border-radius: 4px;
  border: 1px solid #15446e;
  background-color: #0A090C;
}

.navbarcontainer .nav-links a:hover,
.navbarcontainer .nav-links a.active{
  color: #2B2B2B;
  background-color: #53DD6C;
  border-radius: 4px;
  transition: 0.3s ease;
}

.nav-links{
  display: flex;
  align-items: center;
  gap: 1rem;
}
.menu-container{
  transition: width 0.3s ease;
  width: 2rem;
}

.menu{
  cursor: pointer;
  background: none;
  border: none;
  font-size: 2rem;
  color: var(--ALUMINUM-LIGHT);
  background-color: var(--UMBRA);
  border-radius: 5px;
  margin-left: 1vh;
  padding: 1px 6px;
}
.profile-pic {
  border-radius: 50px;
}

.top-right {
  padding-right: 1rem;
}

.top-right a,
.top-right button.pfp {
  border-radius: 50px;
  margin: 1rem;
}

.profile-pic {
  border-radius: 50px;
}

.top-right {
  padding-right: 1rem;
}

.top-right a,
.top-right button.pfp {
  border-radius: 50px;
  margin: 1rem;
}

