<nav class="navcontainer" [class.active]="checkSidebar()">
    <div class="nav-links">
      <div class="menu-container" [class.active]="checkSidebar()">
        <button class="menu" (click)="toggleSidebar()">☰</button>
      </div>
    </div>

  <!-- Recommend outsourcing topbar to its own component -->
  <div class="top-right">

      <a class="search">
        <img src="../../../assets/svg/search.svg" alt="search">
      </a>

      <a class="notification-bell">
        <img src="../../../assets/svg/notification-bell.svg" alt="notification">
      </a>

      <button class="pfp" routerLink="profile">
        <img class="profile-pic" src="../../../assets/pfp/download.jpg" alt="pfp" width="50px">
      </button>

  </div>

</nav>

<!-- Crazy nested a17 menu item rendering logic -->
<!-- Need to figure out procedural icon matching. Consider random, or building into database as part of department table -->
<div class="sidebar" [class.active]="isSidebarVisible">
  @for(department of menuDepartments; track department){
    <a (click)="displayCharts(department.department_name)">
      <img src="../../../assets/svg/production.svg" alt=`{{department.department_name}}` >
      @if(isSidebarVisible){<span class="sidebar-text">{{department.department_name}}</span>}
    </a>
    <!-- Chart Display logic begins here -->
    @if(displayingCharts == department.department_name) {
    @for(chart of department.chart_array; track chart){
      @if(!checkChartStatus(chart)) {
        <div class="chart-item">
            <a (click)="addChart(chart)">
              <span>{{chart.chart_title}}</span>
            </a>
        </div>
      }
      @if (checkChartStatus(chart)){
      <div class="chart-item-added">
        <a (click)="addChart(chart)">
          <span>✓ {{chart.chart_title}}</span>
        </a>
      </div>
      }
    }}
  }
</div>
